<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="sensors">
  <xacro:macro name="camera" >
    <link name="rgb_camera">
      <visual>
	<origin xyz="0 0 0"/>
	<geometry>
	  <box size="0.01 0.2 0.08"/>
	</geometry>
	<material name="camera_red">
	  <color rgba="${255/255} ${0/255} ${0/255}  0.8"/>
	</material>
      </visual>
      <collision>
	<origin xyz="0 0 0"/>
	<geometry>
	  <box size="0.01 0.2 0.08"/>
	</geometry>
	<material name="camera_red">
	  <color rgba="${255/255} ${0/255} ${0/255}  0.8"/>
	</material>
      </collision>
    </link>
    
    <gazebo reference="rgb_camera">
      <sensor type="camera" name="tool_camera">
	<update_rate> 30.0 </update_rate>
	<always_on> 1 </always_on>
	<topic> image </topic>
	<camera name="tool">
	  <horizontal_fov> 1.0 </horizontal_fov>
	  <image>
	    <width> 800 </width>
	    <height> 800 </height>
	    <format>R8G8B8</format>
	  </image>
	  <clip>
	    <near> 0.02 </near>
	    <far> 300 </far>
	  </clip>
	  <noise>
	    <mean> 0.0 </mean>
	    <stddev> 0.01 </stddev>
	  </noise>
	</camera>
	<plugin filename="ignition-gazebo-sensors-system"
		name="ignition::gazebo::systems::Sensors"/>
      </sensor>
    </gazebo>
  </xacro:macro>


  <xacro:macro name="lidar_sensor" params="*origin">
     <link name="lidar_link">
          <visual>
                 <origin xyz="0 0 0" rpy="${3.1415/2} 0 ${3.1415/2}"/>
           
                 <material name="Red">
                         <color rgba="1.0 0.0 0.0 0.5"/>
                 </material>
           </visual>
           <collision>
                 <origin xyz="0 0 0" rpy="${3.1415/2} 0 ${3.1415/2}"/>
             
                  <material name="Red">
                         <color rgba="1.0 0.0 0.0 0.5"/>
                  </material>
           </collision>
          
     </link>
     
     <joint name="lidar_joint" type="fixed">
       <parent link="head_link"/>
       <child link="lidar_link"/>
       <xacro:insert_block name="origin" />
     </joint>
     
    <gazebo reference="lidar_link" >
      
      <sensor name="lidar" type="gpu_lidar">
        
        <topic> lidar_scan </topic>
        <update_rate>100</update_rate>
        <ignition_frame_id>lidar_link</ignition_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>300</samples>
              <resolution>1</resolution>
              <min_angle>${-3.1415/2}</min_angle>
              <max_angle>${3.1415/2}</max_angle>
            </horizontal>
            <vertical>
              <samples>30</samples>
              <resolution>1</resolution>
              <min_angle>-${3.1415/2}</min_angle>
              <max_angle>0.2618</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.02</min>
            <max>30.0</max>
            <resolution>100</resolution>
          </range>
        </ray>
        
        <alwaysOn>1</alwaysOn>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
    
  </xacro:macro>
</robot>
