<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="sensors">
  <xacro:macro name="camera" >
    <link name="rgb_camera">
      <visual>
	<origin xyz="0 0 0"/>
	<geometry>
	  <box size="0.01 0.2 0.08"/>
	</geometry>
	<material name="camera_red">
	  <color rgba="${255/255} ${0/255} ${0/255}  0.8"/>
	</material>
      </visual>
      <collision>
	<origin xyz="0 0 0"/>
	<geometry>
	  <box size="0.01 0.2 0.08"/>
	</geometry>
	<material name="camera_red">
	  <color rgba="${255/255} ${0/255} ${0/255}  0.8"/>
	</material>
      </collision>
    </link>
    
    <gazebo reference="rgb_camera">
      <sensor type="camera" name="tool_camera">
	<update_rate> 30.0 </update_rate>
	<always_on> 1 </always_on>
	<topic> image </topic>
	<camera name="tool">
	  <horizontal_fov> 1.0 </horizontal_fov>
	  <image>
	    <width> 800 </width>
	    <height> 800 </height>
	    <format>R8G8B8</format>
	  </image>
	  <clip>
	    <near> 0.02 </near>
	    <far> 300 </far>
	  </clip>
	  <noise>
	    <mean> 0.0 </mean>
	    <stddev> 0.01 </stddev>
	  </noise>
	</camera>
	<plugin filename="ignition-gazebo-sensors-system"
		name="ignition::gazebo::systems::Sensors"/>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
